@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    box-sizing: border-box;
    font-family:  "Sarabun", sans-serif;;
}



nav{
    height: 230px;
    /* border: 1px solid;  */
    display: flex;
    justify-content: space-between;
    padding: 20px;


}

.imgf {
    /* border: 1px solid; */
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


.name h5{
    color: rgba(0, 0, 0, 0.36000001430511475);
}


.seh{
    width: 244px;
    height: 43px;
    background: rgba(217, 217, 217, 0.5600000023841858);
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
 }


.seh1{
    width: 43px;
    height: 43px;
    background: #0142e8;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px;
    display: flex;
    justify-content: center;
}


.boxseh {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    gap: 2px;
}


.prof {
    gap: 10px;
    display: flex;
    flex-direction: column;
}


.prof h5::after {
    content: "";
    border: 1px solid;
    transform: rotate(360deg);
    position: absolute;
    width: 221px;
    display: block;
    margin-top: 23px;
    margin-left: -7px;
}


.mu h6 {
    color: rgba(0, 0, 0, 0.36000001430511475);
}


.mu {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 301px;
    height: 100dvh;
}


.body{
    width: calc(100% - 301px);
    height: 950px;
    background: #efefef;
    border-radius: 50px 0px 0px 0px;
    position: absolute;
    top: 230px;
    right: 0px;
}


.card-box{
    width: 413px;
    height: 240px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 23px;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    translate: 1px -110px;
    width: 98%;
}

.bz {
    width: 840px;
    height: 470px;
}


.mi2 {
    width: 368px;
}


.bz h3 {
        width: 100%;
        text-align: left;
        color: #07056e;
}


.bz h5 {
    width: 100%;
    text-align: right;
    color: #0142e8;
}


.content-chart {
    display: flex;
    justify-content: center;
}

.phim,
.tmu1,
.mauf,
.card-box.a1{
    display: none;
}

@media (width <= 600px) {

    .boxseh,
    .prof h5::after,
    .mu,
    .card-box.bz h5,
    .mi2,
    .mi3,
    .content-chart
    {
        display: none;
    }

    .phim{
        display: block;
    }

    .imgf {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 158px;
        z-index: 1;
        right: 22px;
    }

    nav {
        height: 230px;
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        padding-left: 20px;
        background-color: #fdb6a6;
    }

    nav h2 {
        color: #fff;
       
    }

    

.tmu{
    translate: 40px -114px;
    width: 219px;
}

    
.tmu1 {
    display: flex;
    justify-content: flex-start;
    gap: 6px;
    
}

.tmu1 h6{
        color: #926960;
}

.body {
    width: 100%;
    height: 437px;
    background: #ffffff;
    border-radius: 50px 50px 0px 0px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.by{
    background-color: #fdb6a6;
}

.card-box {
    width: 283px;
    height: 78px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #fdb6a6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #fdb6a6;
    flex-direction: row-reverse;
    gap: 3px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    translate: 0px 35px;
    width: 100%;
    gap: 25px;
}

.content-chart {
    display: flex;
    justify-content: center;
    width: 100%;
}

.body h3{
    translate: 0px 5px;
    color: #000;
}

.mauf {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 50px;
    border-top-left-radius: 20px;
    box-shadow: 1px 1px 9px 3px rgb(0 0 0 / 38%);
    padding-top: 14px;
    border-top-right-radius: 20px;
}

.nam {
    width: 22px;
    height: 22px;
    justify-content: flex-end;
}



    
    

    
}